*,
*::after,
*::before {
   box-sizing: border-box;
 
}

.page-body {
   width: 1480px;
   height: auto;
}
.title_text{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 400;
   font-size: 80px;
   line-height: 94px;
   padding-top: 63px;
   padding-bottom: 46px;
   padding-left: 98px;
}
.normal_text{
   color: black;
}
.title_text_highlighted{
   color: #4BCAFF;
}
.link{
   text-decoration: none;
}
.menu{
   display: flex;
   justify-content: center;
   background-color: #35444F;
   border-left: 1px solid #fff;
   height: 72px;
}
.menu-item{
   margin-top: 26px;
   margin-bottom: 19px;
   text-align: center;
}

.menu-item {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: inline;
   align-items: center ;
   width: 1283px;
   font-size: 24px;
}
.menu_link {
   text-decoration: none;
   color: #ffffff;
   background-color: #35444F;
}
.services_details_item{
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
}
.services_details_item_special{
   background-color: #DBDBDB;
   height: 81px;
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 27px 78px 27px 38px;
   margin-bottom: 25px;
   width: auto;
   height: 81px;
}
.main_logo{
display: flex;
justify-content: center;
align-items:center;
border: 1px solid #0000;
}
.logo {
   display: inline-block;
   vertical-align: middle;
  
}
.services_icon{
display:flex;
justify-content: center;
align-items: center;

}
.services .container {
   background-image: url(../img/ramda.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 320px 381px;
   padding-bottom: 90px;
   padding-top: 98px;
  
}
.container_text{
   display: flex;
  justify-content: center;
  padding-top: 0px;

}
.tagline_description{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18px;
   text-align: justify;
   padding-bottom: 60px;
   padding-right: 0px;
}
.main-logo{
   width: 320px;
   height: 381px;
}
.footer_list{
   width: auto;
   display: flex;
   justify-content:space-between;
   background-color: rgba(99, 105, 110, 0.48);
   height: 72px;
   list-style-type: none;
   padding-right: 28px;
   margin-bottom: 50px;
}
.footer_list_item{
font-size: 28px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 28px;
}
.footer_list_item_special{
   font-family: arial;
   font-weight: 400;
   font-size: 28px;
   padding-top: 28px;
}
.footer_list_item_color{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 28px;
   padding-top: 30px;
   color: #3181A6
   ;
}
.description {
   padding-top: 60px;
   padding-bottom: 37px;
   padding-left: 496px;

}
.tagline_description {
   display: inline-block;
   width: auto;
   margin-left: 496px;
}

.tagline_text {

   font-size: 18px;
   line-height: 160%;
   color: #3c4658;
}
.services {
   width: auto;
   height: auto;
   padding-top: 48px;
   padding-bottom: 73px;
   border: 1px solid #0000;
}
.services_list {
   font-size: 28px;
   margin-block-start: 0px;
   margin-block-end: 0;
   padding-inline-start: 0px;
}
.services_item {
   background-color: #ffffff;
   border: 1px solid #dfe1e3;
   width: calc(25% - 4px);
   text-align: center;
   padding: 90px 60px 80px;
}

.services_details {
   list-style-type: none;
   margin-block-start: 0;
   margin-block-end: 0;
   padding-inline-start: 0px;
   text-align: left;
   display: inline-block;
   padding: 26px;
}
.services_details_item{
   font-size: 27px;
   color: gba(72, 88, 99, 1);
   font-weight: 400;
  

}

.services_title {
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   color: #3c4658;
   margin-top: 30px;
   margin-bottom: 24px;
}
